
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,900&display=swap');

*{ /* universal tag  */ 
    padding: 0px; /* give padding both to elments as well as to body itself*/
    margin: 0px; /*if I add this to body tag then it will give padding to only body element/ container*/
    font-family: var(--headFont);
}
:root {
    --primary: #000000;
    --secondary: #ffffff;
    --theme:#1e90ff;
    --gray:#1e1e1f;
    --headFont:'Montserrat', sans-serif;
  }
  .loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22222222;
    
}
  a{
    text-decoration: none;
}
/* common classes */
.section_container_css{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;


}
.edit_btn{
    /* margin: 30px; */
    position: relative;
    top: 20px;
    right: 20px;
    align-self: flex-end;

}
.section_heading{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.item_heading{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px;
}
.item_sub_heading{
    font-size: 0.9rem;
    margin-bottom: 7px;
}
.item_date{
    font-size: 0.7rem;
    margin-bottom: 9px;
}
.item_divider{
    margin-top: 10px;
    margin-bottom: 10px;
}
.item_p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn_border{
    width: 8rem;
    height: 2.4rem;
    background: transparent;
    border: 1px solid var(--theme);
    color: var(--theme);
    cursor: pointer;
    font-size: 0.9rem;
    margin: 10px;
}
.btn_border:hover{
    background-color: var(--theme);
    border: none;
    color: white;

}
.label_input{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.filled_btn{
    width: 8rem;
    height: 2.4rem;
    background: var(--theme);
    border: none;
    color: var(--secondary);
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load_more_container{
    display: flex;
    align-items: center;
   justify-content: center;
}


.add_user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_field{
    padding: 8px;
    width: 300px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;

}
.input_field:focus{
    outline: none;
}

.input_field::placeholder{
    color: rgb(17, 17, 17);
    font-size: 13px;
}

.no_result_text{
    text-align: center;
    color: gray;
    margin-top: 10px;
}
/* nav css ----------------------------*/

.logo_link{
    color: black;
}
nav{
    /* background-color: var(--theme); */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .logo_title{
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  .nav_bar{
    display: flex;
  }
  nav li{
    list-style: none;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  nav li a{
    color: var(--primary);
    font-size: 1.1rem;
  }

  .nav_btn_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_btn_container button{
    margin-right: 10px;
  }






  /* projects section ----------------*/

.project_media{
    width: 10vw;
}
.item_detail_section{
    display: flex;

}
.item_info{
    align-self: center;
    margin-left: 20px;
}
.project_delete_btn{
    margin-top: 10px;
    margin-bottom: 10px;
}

.lan_item_per{
    font-size: 0.6rem;
    font-weight: normal;
    margin-left: 5px;
}
.lan_item_lan{
    font-weight: bold;
}
.lan_item{
    margin-top: 10px;
}
.tag_item{
    background-color: var(--theme);
    color: white;
    padding: 10px;
    border-radius: 100%;
    font-size: 0.6rem;
    /* margin: 5px; */
}
.tag_container{
    margin-top: 15px;

    margin-bottom: 20px;
    height: auto;

}
.tag_head{
    margin-bottom: 10px;
}


/* users section css--------------------- */

.user_fetched_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_btn_container{
    display: flex;
}
.user_delete{
    margin: 0px !important;
}
.user_update{
    margin-left: 10px !important;
}
.user_item_info_heading{
    font-weight: bold;
}
.user_fetched_item{
    margin-top: 10px;
}

/* search bar-------------------- */
.search_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_field_search{
    padding: 8px;
    width: 300px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;

}
.input_field_search:focus{
    outline: none;
}

.input_field_search::placeholder{
    color: rgb(17, 17, 17);
    font-size: 13px;
}

.search_submit{
    width: 8rem;
    height: 2.4rem;
    /* margin-top: 8px; */
    background: transparent;
    background-color: var(--theme);
    border: none;
    color: var(--secondary);
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 20px;
}

/* model section ------------------------------ */
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1;
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal_content {
    background-color: var(--secondary);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .model_project_img{
    width: 30vw;
  }

.model_info_content{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 70%;
}
.model_title{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.model_sub_title{
    margin-top: 5px;
    margin-bottom: 5x;
    font-size: 1rem;

}
.model_detail{
    margin-top: 5px;
    margin-bottom: 5px;
}
.model_date{
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
